@model SenRevue.Areas.Admin.Models.ViewModel.AdminViewModelBase
@if (Model.Langs != null && Model.Langs.Count() > 1)
{
    <ul class="nav navbar-nav navbar-right">
        @foreach (var item in Model.Langs.Where(l => l.Code != Model.DefaultLang))
        {
            <li>
                <a href="@item.Url" class="flag" title="@item.Libelle"><img class="img-responsive flag-logo" src="@Url.Content(item.Path)" /></a>
            </li>
        }
    </ul>
}
