@model SenRevue.Areas.Admin.Models.ViewModel.AdminNewsViewModel

<div class="row">
    <div class="col-md-12">
         @if (Model.Articles != null && Model.Articles.Any())
         {

         }
         else
         {
            <div class="alert alert-info text-center">
                <p>Aucun article trouvé !</p>
            </div>
         }
    </div>
</div>