@using SenRevue.Areas.Admin.Models.ViewModel
@using SenRevue.Helpers;
@model AdminViewModelBase

<h2>@Html.Raw(Model.Title)</h2>
<div>
    <p>
        @Html.Raw(LabelHelpers.GetLabel("page_confirm_mail_message_1"))
        @Html.ActionLink(LabelHelpers.GetLabel("page_confirm_mail_message_2"), "Login", "Account", routeValues: new { area = "Admin"}, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
