@using SenRevue.Areas.Admin.Models.Account
@using SenRevue.Helpers;
@model ResetPasswordViewModel


<hgroup class="title">
    <h1>@Html.Raw(Model.Title)</h1>
</hgroup>
<div>
    <p>
        @Html.Raw(LabelHelpers.GetLabel("reset_password_confirmation_message_1"))
        @Html.ActionLink(LabelHelpers.GetLabel("reset_password_confirmation_message_2"), "Login", "Account", routeValues: new { area = "Admin"}, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
