<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="Local" value="D:\Fis\nuget" />
    <add key="Package source" value="D:\Fis\nuget" />
    <!--<add key="Package source" value="\\mittest01\dev\nuget" />-->
  </packageSources>
</configuration>
