body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    margin-top:80px;
}
.spacer {  margin-top: 10px; }

.navbar-inverse.senrevue {
    background-color: #3d7acc;
    border-color: #134094;
}
.senrevue-menu {
    background-color: #3d7acc !important;
    border-color: #3d7acc;
    color: #FFFFFF !important;
}
.container.body-content .navbar-inverse.senrevue-menu .navbar-nav > li > a {
    color: #FFFFFF !important;
}
.container.body-content .navbar-inverse.senrevue-menu .navbar-nav > .active > a,
.container.body-content .navbar-inverse.senrevue-menu .navbar-nav > .active > a:hover{
    color: #ffffff;
    background-color: #134094;
}
.container.body-content .navbar-inverse.senrevue-menu .navbar-nav > .active > a:focus {
    color: #fcf1f1;
    background-color: #3280e9;
}
ul.senrevue > li > a {
    color: #FFFFFF !important;
}
img.logo{
    max-width: 150px;
    background-color: white !important;
    padding:0px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
img.flag-logo
{
    max-width:30px !important;
}
a.flag
{
    padding: 5px !important;
}
.field-validation-error
{
    color: #b94a48;
}
/*****************DataTables***********************/
div.dataTables_wrapper div.dataTables_filter input{
    border-radius:3px;
}
.dataTables_wrapper{
    border: 1px solid #111;
    padding: 4px;
    border-radius: 3px;
}