@{
    ViewBag.Title = "Acceuil";
}


<!--<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="
    " alt="" width="100%" height="40%" class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>
-->
<html>
<head>
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Maloncos.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/stylesimage.css")" rel="stylesheet" type="text/css" />
</head>

<body>

    <section id="slideshow">
        <span id="sl_play" class="sl_command"></span>
        <span id="sl_pause" class="sl_command"></span>

        <span id="sl_i1" class="sl_command sl_i"></span>
        <span id="sl_i2" class="sl_command sl_i"></span>
        <span id="sl_i3" class="sl_command sl_i"></span>
        <span id="sl_i4" class="sl_command sl_i"></span>

        <a class="play_commands pause" href="#sl_pause" title="Maintain paused">Pause</a>
        <a class="play_commands play" href="#sl_play" title="Play the animation">Play</a>
        <div class="container">
            <div class="c_slider"></div>
            <div class="slider">
                <figure>
                    <img src="../../Content/images/fille2.jpg" " alt="" width="740" height="350" class="img-thumbnail" />
                    <figcaption>The mirror of soul</figcaption>

                </figure>
                <!--
                -->
                <figure>
                    <img src="../../Content/images/fille1.jpg" alt="" width="740" height="350" class="img-thumbnail" />
                    <figcaption>Let's cross that bridge when we come to it</figcaption>
                </figure>
                <!--
                -->
                <figure>
                    <img src="../../Content/images/garcon.jpg" alt="" width="740" height="350" class="img-thumbnail" />
                    <figcaption>Sushi<em>(do)</em> time</figcaption>

                </figure>
                <!--
                -->
                <figure>
                    <img src="../../Content/images/petit.jpg" alt="" width="740" height="350" class="img-thumbnail" />
                    <figcaption>Waking Life</figcaption>
                </figure>
            </div>
        </div>

        <span id="timeline"></span>
        <ul class="dots_commands">
            <!--
            -->
            <li><a title="Afficher la slide 1" href="#sl_i1">Slide 1</a></li>
            <!--
            -->
            <li><a title="Afficher la slide 2" href="#sl_i2">Slide 2</a></li>
            <!--
            -->
            <li><a title="Afficher la slide 3" href="#sl_i3">Slide 3</a></li>
            <!--
            -->
            <li><a title="Afficher la slide 4" href="#sl_i4">Slide 4</a></li>
        </ul>
    </section>


</body>
</html>