@{
    ViewBag.Title = "Corps";
}
<div class="row">

</div>
<div class="row">
    <div class="col-md-8">
         
        <div>
            <img src="../../Content/cheveux/pinup.jpg" alt="" width="550" height="260"  /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/chignon.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/twist.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/crete.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/court.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/chignon.jpg" alt="" width="550" height="260" class="displayed" /><br /><<br /> />
        </div>
        <div>
            <img src="../../Content/cheveux/mariage.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/braid.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/queue.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />

        </div>
        <div>
            <img src="../../Content/cheveux/banane.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/natte.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
        <div>
            <img src="../../Content/cheveux/plaque.jpg" alt="" width="550" height="260" class="displayed" /><br /><br /><br />
        </div>
    </div>
    <div class="col-md-4" id="mai">  fmjqksfjsdklhdkldhbljnvcnxvljkbxcjvbklxcjbxklughjmklgbln,vb;hjhjkhjilkjopmhuihghjvnbnkvhbvbnjk,;hjgcvbn,</div>
</div>
