@{
    ViewBag.Title = "Guidecrepus";
}

<div class="row">

    <div class="col-md-9">
        <div >
          <article class="span12">
              <p class="tronc">
                 
                      Les cheveux crépus ont de nombreuses particularités qui les rendent fragiles et vulnérables.<br />
                      Voici les caractéristiques qui les définissent et les multitudes de possibilités qu'ils offrent !
                  
                   <br/> <br/>
                  <img src="../../Content/cheveux/guidecrepu.jpg" alt="" width="580" height="330" class="displayed" /><br />
                  Le cheveu crépu est sec, fin, avec des boucles très serrées. Il pousse en spirale et sort couché sur le cuir chevelu, contrairement au cheveu lisse qui pousse tout droit. À cause d’un follicule incurvé, fragile et cassant, le cheveu crépu pousse moins vite que son équivalent dit « européen » ou « asiatique », et sa pousse évolue en montant au lieu de tomber vers le bas. D’aspect cotonneux, les cheveux crépus sont très fragiles et demandent par conséquent deux fois plus d’attention que les autres types !
              </p>    
          
            <p class="alire">
                <strong> À lire aussi</strong>
                <a href="http://www.madmoizelle.com/cheveux-crepus-frises-37767">: Dossier peaux noires et métissées #3 : les cheveux </a>
            </p>
            <p class="tronc">
                Les inconvénients liés à ces spécificités pourraient faire penser que ce type de crinière apporte plus de contraintes que d’avantages. En réalité, les bénéfices des cheveux crépus sont bel et bien nombreux… si on décide de les chérir et de prendre soin d’eux !
            </p>
              <p class="tronc">
                  <object type="application/x-shockwave-flash" width="580" height="350" data="http://www.youtube.com/v/_etwz7NkemE&hl=fr" >

                      <param name="movie" value="http://www.youtube.com/v/_etwz7NkemE&hl=fr" />

                  </object>
              </p>
              <p class="tronc">
                  Les inconvénients liés à ces spécificités pourraient faire penser que ce type de crinière apporte plus de contraintes que d’avantages. En réalité, les bénéfices des cheveux crépus sont bel et bien nombreux… si on décide de les chérir et de prendre soin d’eux !

                  André Walker, coiffeur afro-américain, a crée un système de catégorisation des cheveux dans son ouvrage André Talks Hair. Quatre grandes catégories trient les cheveux selon leur type : lisses, ondulés, bouclés et frisés. À l’intérieur de chaque catégorie, les cheveux sont rangés des plus lisses aux plus crépus.
              </p></article>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>
