@{
    ViewBag.Title = "PageCheveux";
}

        <div class="row"> <div class="col-md-12"> <br/><br /><br /> </div></div>
      
        <div class="row">

            <div class="col-md-9">
                <div>
                    <span class="main"><h4> Guide des plantes</h4> </span> <br />
                    <img src="../../Content/cheveux/herbes.jpg" alt="" width="550" height="260" class="displayed" /><br />

                </div>
                <div>
                    
                        <h4> ✿ Cheveux secs, rêches, déshydratés</h4> <br />
                    <p class="caption">
                        <h6> Huiles végétales :</h6><br />
                        <span class="caption1">
                            Aloe vera, Avocat, Amande douce, Argan, Brocoli, Coco, Fruits de la passion, Germes de blé, Monoï, Macérât huileux de vanille, Noix du Brésil, Oléine de karité, Ricin, Yangu<br />
                        </span><h6 class="cole">  Huiles essentielles :</h6><br />
                        <span class="caption1">
                            Ylang-ylang, Géranium <br />

                            Actifs :<br />
                            Protéines de soie liquide, Panthénol, Céramides, Protéines de riz, Phytokératine, Inuline<br />
                            </span>
</p>
                    <div>
                        <h4>  ✿ Cheveux ternes, mous, dévitalisés</h4><br />
                        <p class="caption">
                            <h6>>  Huiles végétales :</h6>
                        </p>
                    </div>
                    <div>

                        <h4> ✿ Cheveux abimés, cassants, pointes fourchues</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Brocoli, Coco, Fruits de la passion, Germes de blé, Macadamia, Monoï, Macérât huileux de vanille, Noix du Brésil, Oléine de karité, Ricin, Yangu<br />
                                </span>
                                <h6 class="cole"> Huiles essentielles :</h6><br />
                            <span class="caption1">   Ylang-ylang, Géranium, Bois de Rose<br /> </span>
</p>
                    </div>
                    <div>
                        <h4> ✿ Cheveux gras</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Noisette, Jojoba<br />
                            </span>
                            <h6 class="cole"> Huiles essentielles :</h6><br />
                            <span class="caption1">  Bay Saint Thomas, Bergamote, Citron, Cèdre Atlas, Pamplemousse, Sauge Sclarée, Laurier<br /></span>
                        </p>
                    </div>
                    <div>
                            <h4>  ✿ Racines grasses et pointes sèches</h4><br />
                            <p class="caption">
                                <h6> Huiles végétales :</h6><br />
                                <span class="caption1">
                                    Jojoba<br />
                                </span>
                        </div>
                    
                    <div>
                        <h4> ✿ Cuir chevelu sensible, irrité, pellicules</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Aloe vera, Amande douce, Argan, Olive, Sapote<br />
                            </span>
                            <h6 class="cole"> Huiles essentielles :</h6><br />
                            <span class="caption1"> Eucalyptus radié, Géranium , Laurier, Palmarosa, Tea-tree, Cade, Bay st thomas<br /></span>
                        </p>
                        <span class="caption1">
                            Actifs :<br/>
                            Panthénol, Poudre de Pivoine, Bisabolol, Allantoïne 
                        </span>
</div>
                    <div>
                        <h4> ✿ Cheveux colorés, méchés</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Amande douce, Argan, Macadamia, Oléine de karité, Olive, Sapote, Sésame<br />
                            </span>
                            <h6 class="cole"> Huiles essentielles :</h6><br />
                            <span class="caption1"> Camomille (cheveux clairs)<br /></span>
                        </p>

                        <span class="caption1">
                            Actifs :<br/>
                            Céramides végétales
                        </span>
                    </div>
                    <div>
                        <h4> ✿ Chute des cheveux, stimuler la pousse</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Avocat, Argan, Jojoba, Nigelle, Ricin<br />
                            </span>
                            <h6 class="cole"> Huiles essentielles :</h6><br />
                            <span class="caption1"> Romarin, Cèdre de l’Atlas, Citron, Bay St Thomas, Nard, Pamplemousse, Sauge sclarée, Romarin à cinéole<br /></span>
                        </p>
                        <span class="caption1">
                            Actifs :<br />
                            Hydrolat de Tilleul, Poudre d’ortie, Extrait de bardane ou Gelée royale
                        </span>
                    </div>
                    <div>
                        <h4> ✿ Cheveux frisés, afros, épais</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Amande douce, Coco, Fruits de la passion, Germes de blé, Monoï, Macérât huileux de vanille, Oléine de karité, Sapote, Yangu<br />
                            </span>
                            <h6 class="cole"> Huiles essentielles :</h6><br />
                            <span class="caption1">  Bois de Rose<br /></span>
                        </p>
                        
                    </div>
                    <div>
                        <h4> ✿ Frisottis, cheveux bouclés, ondulés, indisciplinés</h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Brocoli, Monoï, Yangu<br />
                            </span>
                           
                        <span class="caption1">
                            Actifs :<br />
                            BTMS et Conditioner Emulsifier, Céramides végétales, protéines de Soie et de Riz, Phytokératine, Inuline
                        </span>
                    </div>
                    <div>
                        <h4> ✿ Protection contre des conditions extrêmes (vent, froid, exposition solaire intense) </h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Macadamia, Sésame<br />
                            </span>
                            
                    </div>
                    <div>
                        <h4> ✿ Anti-poux </h4><br />
                        <p class="caption">
                            <h6> Huiles végétales :</h6><br />
                            <span class="caption1">
                                Coco<br />
                            </span>

                    </div>

                </div>
            </div>
            <div id="sidebar-wrapper" class="col-md-3">
                <br /><br />
                <aside class="row">


                    <aside class="col-lg-12">
                        <h5> BIENVENUE </h5> <br />
                        <div class="roundedImage, roundedImageShadow" style="background:url(../../Content/cheveux/teint.jpg) no-repeat 0px 0px; " alt="" />


                    </aside>
                    </aside>
                    <aside class="row">


                        <aside class="col-lg-12"><br/><br/>
                            </aside>
                        </aside>
                            <aside class="row">


                                <aside class="col-lg-12">
                                    <span class="caption">Je m'appelle Fama, je suis amoureuse de la mer et de la nature, j'adore le thé et Harry Potter. Je veux des cheveux looongs de sirène ! Bienvenue dans mon univers...</span>

                                </aside>
                            </aside>
                              <br/>
                               <br/>
                              <br/>
                <div class="ui-widget-content">
                    <div class="social-media-gadget">
                        <ul>
                            <li class="val">
                                <a class="fa" target="_blank" href="https://fr.pinterest.com/LeBlogDuCheveu/"><img src="../..//Content/cheveux/print.jpg" border='0' width="30" height="30"></a>
                            </li>
                            
                            <li class="val">
                                <a class="fa" target="_blank" href="https://www.instagram.com/leblogducheveu/"><img src="../..//Content/cheveux/instagram.jpg" border='0' width="30" height="20"></a>
                            </li>
                            <li class="val">
                                <a class="fa" target="_blank" href="https://www.facebook.com/"><img src="../..//Content/cheveux/facebook.jpg" border='0' width="30" height="30"></a>
                            </li>
                           
                        </ul> 
                    </div>
                </div>
                      <aside class="row"> <aside class="col-md-12"> <h5> RUBRIQUE </h5></aside></aside>
                <div class="ui-widget-content ">
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">ASTUCES / CONSEILS / ENTRETIEN REGULIER </a></li>
                           
                            </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            
                            <li class="val"><a  class="fa" target="_blank" href="">COIFFURE / TUTOS / DIY </a>
                            
                        </ul>
                    </div>
                    <hr/>
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">COLORATION V&Eacute;G&Eacute;TAL / H&Eacute;NN&Eacute;E</a></li>
                            
                        </ul>
                    </div>
                    <hr />
                    <div>
                      <ul> <li class="val"><a  class="fa" target="_blank" href="">ENTRE ART ET HISTOIRE </a></li>
                        
                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a class="fa" target="_blank" href="">GUIDE DES D&Eacute;BUTANTS</a></li>

                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a class="fa" target="_blank" href="">HUMOUR / CONCOURS / &Eacute;VENEMENTS AUTOUR  DU CHEVEU</a></li>

                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">JOURNAL DE POUSSE </a></li>

                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">LE CHEVEU DANS TOUS CES &Eacute;TATS</a></li>

                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">PHOTOS DE TR&Egrave;S LONG CHEVEUX</a></li>

                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">RECETTES</a></li>

                        </ul>
                    </div>
                    <hr />
                    <div>
                        <ul>
                            <li class="val"><a  class="fa" target="_blank" href="">SOIN DES BOUCLES</a></li>

                        </ul>
                    </div>
                    <hr/>
                    <div>
                        <ul>
                            <li class="val"><a class="fa" target="_blank" href="">TESTS ET AVIS PRODUITS </a></li>

                        </ul>
                    </div> 
                </div>
                <aside class="row"> <aside class="col-md-12"> <h5> FAVORIE </h5></aside></aside>
              
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://growbeyondyourlimits.blogspot.fr/">Grow Beyond Your Limits </a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://www.edelweiss-cheveux.com"/ > Journal capillaire d'Edelweiss </a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://junglehairlover.blogspot.fr/">Jungle's Hair : de beaux cheveux au naturel </a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://larosessentielle.blogspot.fr/">La rose essentielle </a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://www.lescarnetsdeblandine.com/">Les Carnets de Blandine</a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://longscheveux.blogspot.fr/">Longs Cheveux au Naturel </a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://www.mapoussedecheveux.com/">Ma pousse de cheveux depuis 2009</a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://www.mesoinsnaturels.com/">Mes soins naturels </a></li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="val"><a class="fa fai" target="_blank" href="http://saravissantebeaute.blogspot.fr/">Sa'ravissante Beauté  </a></li>

                    </ul>
                    @Html.ActionLink("AffichageCadeau", "AffichageCadeau", "Home")
                </div>
            </div> 
        </div>
           
